#Location: .github/workflows/custom_config.yml

name: Build and push containers to Dockerhub
env:
  DOCKER_USER: ${{ secrets.DOCKER_USER }}
  DOCKER_PASS: ${{ secrets.DOCKER_PASS }}

on:
  push:
    branches:
      - mono-repo-staging #Use your own branch here (Might be staging or testing)
jobs:
  build:
    runs-on: ubuntu-latest
    steps: 
      - name: Git clone on our repo
        uses: actions/checkout@v2

      - name: Login to Dockerhub
        run: make login

      - name: Build Containers
        run: make build

      - name: Push to Dockerhub
        run: make push
  